{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/main.min.css" integrity="sha256-RoGeDStTbXClGRj4hllIdGBYrCgEmO7H8SmutsYdDLU=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
        <style>
          /* Shadow des interface du site */
          .shadoww{
        -webkit-box-shadow: 1px 0px 15px 11px rgba(0,0,0,0.2); 
box-shadow: 1px 0px 15px 8px rgba(0,0,0,0.2);
      }

      body::-webkit-scroll {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scroll-track {
  background: orange;        /* color of the tracking area */
}
body::-webkit-scroll-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
      
      .el {background-image: url(..\asset\circle-scatter-haikei.svg);}
    </style>
    

{% endblock %}

{% block body %}
{% include "include/logout.html.twig" %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.10.1/main.min.js" integrity="sha256-TdTSDSjuCyswg+ZC7ekTsOatmHRtTdToHybuyu2TZnY=" crossorigin="anonymous"></script>
      <div class="flex h-screen w-screen el">
      
        <div class="flex h-screen w-screen ">
        
            <div id="liste" class="z-50 flex bg-[#EEEEEE] shadoww w-1/6 justify-center rounded-r-2xl">
                <div id='external-events'>
                    
                    {# Affichage en admin #}
                    {% if utilisateurRole == 'ROLE_ADMIN' %}
                    <div>
                        <a href="{{ path('admin') }}">
                          <button class="z-50 bg-[#3DB2FF] w-20 h-20 right-0 absolute bottom-32 mr-16 rounded-full border-black border-4 " onclick="{{ path('admin') }}" id="logout"><i class="fas fa-cog fa-3x"></i></button>
                        </a>
                    </div>
                    <h1 class=" text-center text-lg font-['Open_Sans'] font-bold text-mg mt-6 mb-6">Calendrier des gardes </h1>
                    <div class="scroller " style="width: 300px;height: 800px;overflow-y: scroll; scrollbar-color: #eeeeee; scrollbar-width: thin;">
                    {% for famille in listeFamille %}
                      <h2 class=" text-center text-sm font-['Open_Sans'] mb-2">{{famille.nom}} -
                      {% for garde in nbgarde %}
                        {% if garde.id == famille.id %}
                          {% if garde.nb < 5 %}
                          <a class="text-red-500">{{garde.nb}} </a>
                          {% else %}
                          <a class="text-green-500">{{garde.nb}} </a>
                          {% endif %}
                        {% endif %}

                      {% endfor %} Gardes </h2>
                        <ul>
                      {% for user in ListeUtilisateurs %}
                      {% if famille.id == user.famille.id %}
                      <div id={{user.id}} class='mx-auto fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-[#fde843] border-[#fde843] w-4/6 mb-1'>
                          
                          
                          <div  id={{user.famille.id}} class='fc-event-main h-10 text-center content-center'><a class="font-bold text-black">{{user.username}} {{user.nom}} </a></div>
                          
                          
                      </div>
                      {% endif %}
                      {%  endfor %}
                    {%  endfor %}  
                     
                    </div>
                    

                    {% else %}
                    {# Affichage en utilisateur lambda #}
                    <h1 class=" text-center text-lg font-['Open_Sans'] font-bold text-mg mt-6 mb-6">Calendrier des gardes </h1>
                    <div id={{data.user.id}} class='mx-auto fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-[#ffe000] border-black w-4/6'>
                        <div  id={{data.user.famille.id}} class='fc-event-main h-10 text-center content-center'>{{data.user.username}} {{data.user.nom}}</div>
                    </div>
                    <h1 class=" text-center text-lg font-['Open_Sans'] font-bold text-mg mt-6 mb-6">Vos gardes :</h1>
                    <div>
                      {% if lGarde is defined %}
                        {% for garde in lGarde %}
                        
                          {% if garde.dDebut|date("Y-m-d","Europe/Paris") > ("now"|date("Y-m-d","Europe/Paris")) %}
                            <div class='w-full mt-3 flex inline space-x-2  '>
                              <div class="mt-1"><svg class="svg-inline--fa fa-spinner fa-w-12 fa-spin fa-lg w-4"aria-hidden="true" focusable="false" data-prefix="fad" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-spinner fa-w-16 fa-spin fa-lg"><g class="fa-group"><path fill="currentColor" d="M108.92 355.08a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM256 416a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm208-208a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm-60.92 147.08a48 48 0 1 0 48 48 48 48 0 0 0-48-48zm0-198.16a48 48 0 1 0-48-48 48 48 0 0 0 48 48z" class="fa-secondary"></path><path fill="currentColor" d="M108.92 60.92a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM48 208a48 48 0 1 0 48 48 48 48 0 0 0-48-48zM256 0a48 48 0 1 0 48 48 48 48 0 0 0-48-48z" class="fa-primary"></path></g></svg></div>
                              <div  class='h-10 text-center content-center text-green-700 font-bold '>{{garde.dDebut|date("l d F",'Europe/Paris')}}</div>
                            </div>
                          {% else %}
                            <div class='w-full mt-3 flex inline space-x-2'>
                            
                              <div class="" ><i class="fas fa-check-circle fa-1x "></i> </div>
                              <div class='h-10 text-center content-center text-gray-700 font-bold'>{{garde.dDebut|date("l d F",'Europe/Paris')}}  </div>
                            
                            </div>
                          {% endif %}
                          
                        {% endfor %}
                        
                        
                        {% else %}
                          <div class='bg-black border-black w-3/6 mt-3 rounded-md'>
                            <div  class='h-10 text-center content-center text-white'>Pas de garde</div>
                          </div>
                      {% endif %}
                      </div>
                    {% endif %}  
                    <button id="tipsOpen"class="z-50 bg-[#3DB2FF] w-16 h-16 right-0 absolute top-4 mr-10 rounded-full border-black border-4 " onclick="openForm()"><i class="fas fa-info fa-2x mr-0"></i></button>
                    <button id="tipsClose"style="display:none;"class="z-50 w-16 h-16 right-0 absolute top-1 mr-4" onclick="openForm()"><i class="far fa-times-circle fa-2x mr-0"></i></button>
                    
            </div>
        </div>
        
        <div class=" flex-col w-full "><svg id="visual" viewBox="0 0 955 545" width="full" height="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="960" height="545" fill="#ececec"></rect><g fill="#ffe000"><circle r="76" cx="544" cy="382"></circle><circle r="57" cx="445" cy="70"></circle><circle r="63" cx="258" cy="228"></circle><circle r="56" cx="729" cy="42"></circle><circle r="72" cx="779" cy="341"></circle><circle r="70" cx="677" cy="538"></circle><circle r="72" cx="55" cy="347"></circle><circle r="65" cx="254" cy="407"></circle><circle r="70" cx="189" cy="50"></circle><circle r="71" cx="941" cy="477"></circle><circle r="70" cx="422" cy="491"></circle><circle r="57" cx="913" cy="125"></circle><circle r="63" cx="666" cy="232"></circle></g></svg>
          
            
            <div id='calendar-container' class="absolute top-16 right-44 h-5/6 w-8/12 bg-white shadoww  rounded-2xl">
            
                <div id='calendar' class="flex mt-16 ml-14 w-11/12 h-5/6   bg-white"></div>
            </div>
            <div style="display:none;" id="tips">
              <div class="absolute top-16 right-8 w-64 h-56 bg-white shadoww  rounded-2xl transition translate-x-1"> 
                <div class="mt-4 mb-4 text-center text-lg font-['Open_Sans'] font-bold text-mg">Ajouter une garde</div>
                <div class="text-center ml-4 mr-4 text-base font-['Open_Sans'] text-mg">Cliquez et maintenez sur votre prénom en haut a gauche puis glissez jusqu'a la date que vous souhaitez puis relachez le clique</div>
              </div>
              <div class="absolute top-80 right-8 w-64 h-56 bg-white shadoww  rounded-2xl"> 
                <div class="mt-4 mb-4 text-center text-lg font-['Open_Sans'] font-bold text-mg">Supprimer une garde</div>
                <div class="text-center ml-4 mr-4 text-base font-['Open_Sans'] text-mg">Cliquez et maintenez sur l'une de vos gardes sur le calendrier et glisser la sur la partie gauche de la page </div>
              </div>
              <div class="absolute bottom-24 right-8 w-64 h-48 bg-white shadoww  rounded-2xl"> 
                <div class="mt-4 mb-4 text-center text-lg font-['Open_Sans'] font-bold text-mg">Besoin d'aide<i class="ml-1 far fa-question-circle"></i></div>
                <div class="mt-4 flex justify-center ">
                <button class=" z-20 w-8/12 h-10 m-auto  bg-[#2994B2] rounded-lg font-bold"><a href="mailto:tommy.cassu@hotmail.com" > Envoyer un mail </a></button>
                
              </div>
              </div>
            </div>
        </div>
        
        
      </div>
        
                    
                
{% endblock %}

{% block javascripts %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/lang-all.js" integrity="sha512-6pFj+5IaeswUqAEsJEF0I6UtYpgN80bT5vLQ8mjOBtFWJwUteCMhy4CuteT6AXsVUOSx8U05dPWUbJwUbMaNgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{# Script au chargement de la page #}
    <script>
    // permet de transformer le nombre RGB en HexaDecimal
    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }
    //JS
    
      function openForm() {
        var x = document.getElementById("tips");
        var y = document.getElementById("tipsOpen");
        var z = document.getElementById("tipsClose");
        var l = document.getElementById("logout");




        if (x.style.display === "none") {
          setTimeout(function() {
          $("#tips").css('display','block')
          }, 100);
          y.style.display = "none";
          z.style.display = "block";
          l.style.display = "none";
          
          

          document.getElementById("calendar-container").className = "transition -translate-x-16 absolute top-16 left-96 h-5/6 w-8/12 bg-white shadoww  rounded-2xl";

        } else {
          x.style.display = "none";
          y.style.display = "block";
          z.style.display = "none";
          l.style.display = "block";
          

          

          document.getElementById("calendar-container").className = "transition  translate-x-10  absolute top-16 right-56 h-5/6 w-8/12 bg-white shadoww  rounded-2xl";
        }
      }
      
      function closeForm() {
        document.getElementById("tips").style.display="none";
      }
    
    // permet de prendre les nombre en hexiDecimal pour obtenir le code HEX
    function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
    }

    document.addEventListener('DOMContentLoaded', function() {
  var Calendar = FullCalendar.Calendar;
  var Draggable = FullCalendar.Draggable;

  var containerEl = document.getElementById('external-events');
  var calendarEl = document.getElementById('calendar');

  // On rend draggable l'username sur la gauche 
  new Draggable(containerEl, {
    itemSelector: '.fc-event',
    eventData: function(eventEl) {
      return {
        title: eventEl.innerText
      };
    }
  });

  
  const AnneeCalendrier = {{data.annees|raw}}
  //On stock data raw(controller) dans event 
  const events = {{data.data|raw}} 
  // On stock l'userId
  const userId = {{data.user.id}}
  
  const familleId = {{data.user.famille.id}}
  
  // On vérifie le rôle de l'utilisateur connecté et on lui permet de modifier les events qui lui appartiennent
  let isAdmin
  {% for role in data.user.roles %}
    {% if role == "ROLE_ADMIN" %}
      isAdmin = true
    {% endif %}
  {% endfor %}

  //Autorise la modification des events pour l'utilisateur 
  events.forEach(function(event) {if (event.user_id == userId) {event.editable=true, event.overlap=false}})

  //Interdit La modification pour l'utilisateur de modifier une date sur elle est antérieur a la date actuelle
  events.forEach(function(event) {var dateStart = new Date(event.start); dateStart.setMonth(dateStart.getMonth()-1); if (dateStart <= new Date()) {event.editable=false, event.overlap=false}})
  
  //Autorise l'admin a modifier toutes les gardes
  events.forEach(function(event) {var dateStart = new Date(event.start); if (isAdmin) {event.editable=true, event.overlap=false}})
  
  // Color en bleu les gardes de l'utilisateur connecté sur le calendrier
  events.forEach(function(event) {if (event.user_id == userId) {event.backgroundColor='#ffe000', event.borderColor='#000000'}})

  // Interdit la superposition de deux gardes
  events.forEach(function(event) {if (true) {event.overlap=false}})




// Création de calendrier avec les différentes options que l'on choisis
  var calendar = new Calendar(calendarEl, {
    schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
    inialView: 'dayGridMonth',
    validRange: {
    start: AnneeCalendrier.DateDebutCalendrier,
    end: AnneeCalendrier.DateFinCalendrier
    },
    selectable: true,
    hiddenDays: [ 6, 0 ],
    locales: 'all',
    locale: 'fr',
    timeZone : 'Europe/Paris',
    headerToolbar: {
      left: 'prev',
      center: 'title',
      right: 'next'
    },
    events: events,
    droppable: true,
    {% for role in data.user.roles %}
    {% if role == "ROLE_ADMIN" %}  
    select: function(info) {
        let url = `/api/create`
        var titleVacation = prompt('Entrez le nom des vacances:')
        //alert('selected ' + info.startStr + ' to ' + info.endStr+ url);

        let vacances = {
              "title":titleVacation,
              "user_id":userId,
              "description":"",
              "start":info.startStr,
              "backgroundColor":'#28c321',
              "borderColor":'#28c321',
              "textColor":'#ffffff',
              "allDay":1,
              "end":info.endStr,
              "famille_id":familleId,
          }
          console.log(vacances)
          let xhr = new XMLHttpRequest
          xhr.open("POST", url)
          xhr.send(JSON.stringify(vacances))

          location.reload();
        
      }
    {% endif %}
  {% endfor %}
  });
  

  //change les informations dans la bdd quand on déplace un event
  calendar.on('eventChange', (e) => {
                let url = `/api/${e.event.id}/edit`
                let donnees = {
                    "title":e.event.title,
                    "description":e.event.extendedProps.description,
                    "start":e.event.start,
                    "end":null,
                    "backgroundColor":e.event.backgroundColor,
                    "borderColor":e.event.borderColor,
                    "textColor":e.event.textColor,
                    "allDay":e.event.allDay,
                }
                let xhr = new XMLHttpRequest

                xhr.open("POST", url)
                xhr.send(JSON.stringify(donnees))
                location.reload();
            })
            

    // Drag and drop d'un event sur le calendrier permet alors de créer directement un event et de l'ajouter au calendrier
    calendar.on('drop', (e) => {
        let url = `/api/create`
        let rgbCodeBG = window.getComputedStyle(e.draggedEl ,null).getPropertyValue('background-color')

        //Transformation de la couleur sous forme de RGB en code HEX 
        var rgbArray = rgbCodeBG.replace("rgb(", "")
        rgbArray = rgbArray.replace(")", "")
        rgbArray = rgbArray.split(",")
        hexCodeBG = rgbToHex(parseInt(rgbArray[0]), parseInt(rgbArray[1]), parseInt(rgbArray[2]))
            
              let donnees = {
              "title":e.draggedEl.innerText,
              "user_id":e.draggedEl.id,
              "famille_id":e.draggedEl.children[0].id,
              "description":"",
              "start":e.date,
              "backgroundColor":'#2994B2',
              "borderColor":'#000000',
              "textColor":'#000000',
              "allDay":e.allDay,
              "end":null,
          }
              // Envoie sous forme de requête post les données
              let xhr = new XMLHttpRequest
              xhr.open("POST", url)
              xhr.send(JSON.stringify(donnees))
            
        location.reload();
    })
          

    //Supression d'un évènement lorsque l'on de drag and drop depuis le calendrier jusqu'a la zone grise a gauche
    calendar.on('eventDragStop', (e) => {    
        let trashEl = document.getElementById('liste');

        let x1 = trashEl.offsetLeft;
        let x2 = trashEl.offsetLeft + trashEl.offsetWidth;
        let y1 = trashEl.offsetTop;
        let y2 = trashEl.offsetTop + trashEl.offsetHeight;

        if (e.jsEvent.pageX >= x1 && e.jsEvent.pageX <= x2 &&
            e.jsEvent.pageY >= y1 && e.jsEvent.pageY <= y2) 
            {
                let xhr = new XMLHttpRequest
                let url = `/api/${e.event.id}/delete`
                let event = calendar.getEventById(e.event.id)
                xhr.open("POST", url)
                xhr.send()
                event.remove()
                //location.reload();
        }
        
    })
    

  calendar.render();

  
});
    </script>

{% endblock %}